.App {
  text-align: center;
  background-image: url("https://img.freepik.com/free-vector/emoticons-with-empty-space-background_79603-1023.jpg?w=996&t=st=1647770286~exp=1647770886~hmac=d3f3088ba9688942b8db68caa4c98e9cd2467b0ad17a68a72c1c483187ed1239");
  position: fixed;
  min-width: 100%;
  min-height:100%;
  background-size:cover;
  background-position: center;
}

.textarea-style{
  width:60%; 
  height:25vmin; 
  border-radius: 25px;
  padding:2%;
  margin:12%;
  border-width:5px;
}
.button-submit-style{
  padding:10px;
  margin-right: 40px;
  background-color:green;
  border-radius:15px;
  width:10%;
}

.button-reset-style{
  padding:10px;
  margin-right: 40px;
  background-color:red;
  border-radius:15px;
  width:10%;
}

.buttons-group{
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
